/* :root {
  /*
  /* Example setup for custom colors */
/* Generate at: https://once-ui.com/customize */
/*
  --scheme-brand-100: #090909;
--scheme-brand-200: #161616;
--scheme-brand-300: #404040;
--scheme-brand-400: #5b5b5b;
--scheme-brand-500: #777777;
--scheme-brand-600: #959595;
--scheme-brand-600-15: rgba(149,149,149,0.15);
--scheme-brand-600-30: rgba(149,149,149,0.3);
--scheme-brand-600-50: rgba(149,149,149,0.5);
--scheme-brand-700: #b4b4b4;
--scheme-brand-800: #d4d4d4;
--scheme-brand-900: #e1e1e1;
--scheme-brand-1000: #eeeeee;
--scheme-brand-1100: #f5f5f5;
--scheme-brand-1200: #fcfcfc;

--scheme-accent-100: #140600;
--scheme-accent-200: #221300;
--scheme-accent-300: #4d4100;
--scheme-accent-400: #655a00;
--scheme-accent-500: #827800;
--scheme-accent-600: #a39a00;
--scheme-accent-600-15: rgba(163,154,0,0.15);
--scheme-accent-600-30: rgba(163,154,0,0.3);
--scheme-accent-600-50: rgba(163,154,0,0.5);
--scheme-accent-700: #c2ba00;
--scheme-accent-800: #e2db41;
--scheme-accent-900: #efe851;
--scheme-accent-1000: #fcf561;
--scheme-accent-1100: #fffc68;
--scheme-accent-1200: #ffff73;

--scheme-neutral-100: #100700;
--scheme-neutral-200: #1e1400;
--scheme-neutral-300: #493e26;
--scheme-neutral-400: #655a41;
--scheme-neutral-500: #82765c;
--scheme-neutral-600: #a09479;
--scheme-neutral-600-15: rgba(160,148,121,0.15);
--scheme-neutral-600-30: rgba(160,148,121,0.3);
--scheme-neutral-600-50: rgba(160,148,121,0.5);
--scheme-neutral-700: #bfb397;
--scheme-neutral-800: #e0d3b7;
--scheme-neutral-900: #ede0c4;
--scheme-neutral-1000: #faedd0;
--scheme-neutral-1100: #fff4d7;
--scheme-neutral-1200: #fffbde;
  /*
}*/
